{% extends 'base.html' %}
{% load static %}

    {% block title %}
    <title>{{game.title}}</title>
    {% endblock %}

    {% block content %}
    <!-- Links -->
    <link rel="stylesheet" href="{% static 'games/slick/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'games/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'games/css/main.css' %}">
    <!-- content -->
    <div class="left-ads-display col-lg-8">
                    <div class="row">
                        <div class="desc1-left col-md-6">
                            <img src="{{ game.poster.url }}" class="img-fluid" alt="">
                        </div>
                        <div class="desc1-right col-md-6 pl-lg-4">
                            <h3 class="editContent" style="outline: none; cursor: inherit;">
                                {{ game.title }}</h3>
                            
                            <ul>
                                <li style="list-style: none"><span><b>Год:</b> {{ game.year}}</span></li>
                                <li style="list-style: none">
                                    <span><b>Платформы:</b>
                                    {% for plat in game.platforms.all %}
                                    <a href="{{ plat.get_absolute_url }}"> {{ plat.title }}  </a>
                                    {%endfor%}
                                    </span>
                                </li>
                                <li style="list-style: none"><span><b>Слоган:</b> {{game.slogan}}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Разработчики:</b>
                                        {% for dev in game.developers.all %}
                                        <a href="{{ dev.get_absolute_url }}"> {{ dev.title }}  </a>
                                        {%endfor%}
                                    </span></li>

                                <li style="list-style: none"><span><b>Жанр:</b>
                                    {% for cat in game.category.all %}
                                    <a href="{{ cat.get_absolute_url }}"> {{ cat.title }}  </a>
                                    {%endfor%}
                                </span>
                                </li>
                                <li style="list-style: none"><span><b>Релиз на ПК:</b> {{game.realease_pc}}</span>
                                </li>
                                <li style="list-style: none"><span><b>Релиз на консоли:</b> {{game.realease_console}}</span>
                                </li>
                                <li style="list-style: none"><span><b><a  href="#popup" class="popup_link">Системные требования</a></b></span>
                                </li>
                   
                                <li style="list-style: none">
                                    <a href="#"><b>Рейтинг:</b>
                                    <span class="fa fa-star" aria-hidden="true"
                                          style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="editContent"
                                              style="outline: none; cursor: inherit;">5.0</span>
                                    </a>
                                </li>
                                <br>
                                <br>
                                <div class="share-desc">
                                    <div class="share">
                                        <h4 class="editContent"
                                            style="outline: none; cursor: inherit;">
                                            Поделиться:</h4>
                                        <ul class="w3layouts_social_list list-unstyled">
                                            <li>
                                                <a href="#" class="w3pvt_facebook editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-facebook-f"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="w3pvt_twitter editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-twitter"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="w3pvt_dribble editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-dribbble"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                        </div>
                    </div>
                    <div class="row sub-para-w3layouts mt-5">

                        <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                            Описание игры {{game.title}}</h3>
                        <!--<p>
                            <img src="bundles/images/about.jpg" class="img-fluid" alt="">
                            <img src="bundles/images/admin.jpg" class="img-fluid" alt="">
                            <img src="bundles/images/d1.jpg" class="img-fluid" alt="">
                        </p> -->
                        <p>
                        </p>
                        <p class="editContent" style="outline: none; cursor: inherit;"> {{ game.description }}
                        </p>
                        <p class="mt-3 italic-blue editContent" style="outline: none; cursor: inherit;">
                            <iframe width="560" height="315" src="{{ game.trailer }}" title="YouTube video player"
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </p>
                         <p class="editContent" style="outline: none; cursor: inherit;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                    </div>
                    <hr>
                    <div class="wrapper_slider">
                        <div class="slider">
                            <!--
                        <div class="slider__item filter">
                        <a href="#popup_img" class="popup_link"><img src="slick/img/slides/big/s1.jpeg" alt=""></a>
                        </div>
                        <div class="slider__item">
                        <a href="#popup_img1" class="popup_link"><img src="slick/img/slides/big/s2.jpg" alt=""></a>
                        </div>
                        <div class="slider__item filter">
                        <a href="#popup_img2" class="popup_link"><img src="slick/img/slides/big/s3.jpg" alt=""></a>
                        </div>
                        <div class="slider__item">
                        <a href="#popup_img3"  class="popup_link"><img src="slick/img/slides/big/s4.jpg" alt=""></a>
                        </div> -->
                        {% for scr in game.gamescreen_set.all %}
                        <div class="slider__item filter">
                           <a href="#popup_img{{scr.pk}}"  class="popup_link"><img src="{{ scr.screen.url }}" alt=""> </a>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="single-form-left">
                            <!-- contact form grid -->
                            <div class="contact-single">
                                {% if request.user.is_authenticated %}
                                <h3 class="editContent" style="outline: none; cursor: inherit;">
                                    <span class="sub-tittle editContent"
                                          style="outline: none; cursor: inherit;">02</span>Оставить отзыв</h3>
                                <form action="{% url 'add_comment' game.id %}" method="post" class="mt-4">
                                    <input type="hidden" name="parent" id="contactparent" value="">
                                        {% csrf_token %}
                                        <textarea with=100% style="box-sizing: border-box" class="form-control border" rows="6"
                                                  name="text"
                                                  id="contactcomment" required=""></textarea>
                                    <p></p>
                                    <div class="d-sm-flex">
                                    </div>
                                    <button type="submit"
                                            class="mt-3 btn btn-success btn-block py-3"
                                            style="outline: none; cursor: inherit;">Отправить
                                    </button>
                                </form>
                                 {% else %}
                                <a href="{% url 'login' %}">войди</a> в аккаунт чтобы оставить комментарий
                                {% endif %}

                        {% for comment in game.comments_set.all %}

                        <div class="media py-5">
                            <img src="https://icon2.cleanpng.com/20180611/csb/kisspng-computer-icons-user-profile-avatar-5b1ef064757309.0103850015287542764811.jpg" width="30px" height="30px" class="mr-3 img-fluid" alt="image"
                                 style="outline: none; cursor: inherit;">
                            <div class="media-body mt-4">
                                <h5 class="mt-0 editContent"
                                    style="outline: none; cursor: inherit;">{{ comment.name }}</h5>
                                <p class="mt-2 editContent" style="outline: none; cursor: inherit;">
                                    {{ comment.text }}
                                </p>
                                {% if request.user.is_authenticated %}
                                <a href="#formRewiew" onclick="addRew('{{comment.name.username}}','{{comment.id}}')">Ответить</a>
                                {% endif %}
                                </div>
                            </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
        <script>
            function addRew(name,id) {
            document.getElementById('contactparent').value=id;
            document.getElementById('contactcomment').innerText = name;
            document.getElementById('contactcomment').scrollIntoView({block: "center", behavior: "smooth"});

            }
        </script>
    {% endblock %}


{% block popup %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <!-- Подключаем слайдер Slick -->
    <script src="{% static 'games/slick/js/slick.min.js' %}"></script>
            <!-- Подключаем файл скриптов -->
    <script src="{% static 'games/slick/js/script.js' %}"></script>
    <script src="{% static 'games/js/main.js' %}"></script>

<div id="popup" class="popup">
    <div class="pop_body">
        <div class="pop_content">
            <a href="#hd1" class="pop_close close_p">X</a>
            <div class="pop_title">Системные требования</div>
            <div class="pop_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Harum minima nulla quae! Ab consectetur consequatur delectus distinctio enim facere hic maiores natus pariatur,
            placeat qui quibusdam rerum sit ullam veniam!</div>
        </div>
    </div>
</div>

{% for scr in game.gamescreen_set.all %}
<div id="popup_img{{scr.pk}}" class="popup">
    <div class="pop_body">
        <div class="pop_content pop_con_img">
            <a href="#hd1" class="pop_close close_p">X</a>
            <div class="pop_img"><img src="{{scr.screen.url}}"></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}