{% extends 'base.html' %}



    {% block title %}
    <title>login</title>
    {% endblock %}

{% block content %}
<div class="left-ads-display col-lg-8">
    <div class="row sub-para-w3layouts mt-5">
        <div class="cent">
<h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
    Вход
<form method="post">
    {% csrf_token %}
    {{ forms.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Войти</button>
</form></div>

        </div>
    </div>

<style>
    .cent{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    position: relative
    }

</style>

{% endblock %}